/* ジャンボトロンサイズ拡大のクラス */
.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(../images/reversi_index.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.sns-button {
    position: absolute;
    bottom: 10px;
    left: 46px;
}

.to-circle {
    width:  100px;       /* ※縦横を同値に */
    height: 100px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}

#putable_img{
 background-image:url("../images/putable_pos.png");
 background-repeat:no-repeat;
 border:none;
 width:60px;
 height:60px;
 text-indent:-9999px;
}

