<!DOCTYPE html>
<html>
<body>

<h1>Reversi Web App</h1>

<p>
    {% if not valid_flag %}
    <font color="#ff4500">その場所には石を置けません。もう一度番号を入力してください。</font>
    {% endif %}

<p> 白: {{ white_player }} </p>

{% for facs in board_matrix %}
    |{% for fac in facs %}
        {{ fac }}&nbsp;|
{% endfor %}
<br>
{% endfor %}
<p> 黒: {{ black_player }} </p>

<p>置ける場所:
    {% for pos in putable_pos %}
    {{ pos }}&nbsp;
    {% endfor %}
</p>

<p>
{% if winner == 0 %}
<form action="/game/dqn/<index>" method="get">
置く場所の番号を入力して下さい:
<p><input name="index" type="number"/></p>
<p><input type="submit" value="置く"></p>
</form>
{% else %}
<form action="/fin" method="post">
ゲームが終わりました<br>
<p><input type="button" value="結果を見る"></p>
</form>
{% endif %}
</p>
</body>
</html>
